*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: auto;
}

header{
    background: url('assets/bg-hero-mobile.svg') #ECF9FF no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-top: 1rem;
}

nav button{
    background-color: #fefefe;
    border-radius: 18px;
    width: 28%;
    padding: 5px;
    box-shadow: -1px 2px 10px 1px gray;
}

nav img{
    width: 15rem;
}

/* Hero section */
.hero-section{
    text-align: center;
}

.hero-section h2{
    width: 75%;
    margin: auto;
    line-height: 2rem;
}

.hero-section p{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 1.3rem;
    line-height: 1.3rem;
}

.hero-content > button{
    margin: 2rem 0 3rem 0;
    height: 2.3rem;
    border-radius: 10rem;
    width: 60%;
    border: none;
    color: #ffd0ff;
    background-color: hsl(322, 100%, 66%);
}

.hero-section img{
    width: 19rem;
    margin-bottom: 3rem;
}

/* card section */
main{
    margin-top: 2.5rem;
}

.cards{
    padding: 3rem;
    text-align: center;
    box-shadow: -1px 1px 5px rgb(226, 225, 225);
    border-radius: 10px;
    margin-top: 1rem;
}

.cards img{
    width: 100%;
}

.cards h2{
    padding: 1rem 0;
}

.cards p{
    line-height: 1.5rem;
    color: hsl(208, 11%, 55%);
}

.started{
    position: relative;
    bottom: 6rem;
    box-shadow: -1px 1px 5px rgb(226, 225, 225);
    border-radius: 10px;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
    margin-top: 14rem;
    color: hsl(208, 11%, 55%);
    font-size: .5rem;
    width: 100%;
    height: 10rem;
}

.build{
    font-size: 1rem;
}

.free{
    margin: 2rem 0 3rem 0;
    height: 2.3rem;
    border-radius: 10rem;
    width: 90%;
    border: none;
    color: #ffd0ff;
    background-color: hsl(322, 100%, 66%);
}

.footer{
    background-color: hsla(192, 100%, 9%);
    color: white;
    height: 45rem;
}

.general{
    margin-top: 2rem;
}

.footerLogo img{
    width: 125px;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.don{
   display: flex;
   gap: 1.5rem;
}

.phone{
    margin-bottom: 1rem;
}

.location{
    margin-bottom: 1rem;
}


.social{
    text-align: center;
}

.social img{
    width: 30px;
    border-radius: 2rem;
}

.footer-p{
   margin-top: 2rem;
   margin-bottom: 5rem;
   font-size: 1.2rem;
  line-height: 2rem;
}

.copyright{
    text-align: center;
    margin-top: 0.5rem;
}


@media screen and (min-width: 768px){
    nav img{
        width: 10rem;
    }

    .hero-section{
        display: flex;
    }

    .hero-section img{
        width: 50%;
        padding-top: 1rem;
    }

    .hero-content{
        text-align: left;
        padding-top: 1rem;
        margin-top: 5rem;
    }

    .hero-content p{
        text-align: left;
        margin-left: 2.5rem;
    }

    .hero-content h2{
        margin-left: 2.5rem;
    }

    .hero-content button{
        margin-left: 2.5rem;
    }

    .card-1{
        display: flex;
        flex-direction: row-reverse;
        gap: 5rem;
    }

    .grow{
        text-align: left;
        line-height: .5rem;
        margin-top: 10rem;
    }

    .card-1 img{
        width: 45%;
    }

    .card-2{
        display: flex;
        gap: 5rem;
    }

    .card-2 img{
        width: 45%;
    }

    .flowing{
        text-align: left;
        line-height: .5rem;
        margin-top: 7rem;
    }

    .card-3{
        display: flex;
        flex-direction: row-reverse;
        gap: 5rem;
    }

    .card-3 img{
        width: 45%;
    }

    .user{
        text-align: left;
        margin-top: 7rem;
    }
    .footer{
        height: 30rem;
    }

    .general{
        display: flex;
    }

    .general .social {
        margin-left: 20rem;
    }

    .icon{
        width: 40%;
    }

    .footer-p{
        display: flex;
        padding-left: 1rem;
        gap: 5rem;
        margin-top: -1rem;
    }

    .copyright{
        text-align: right;
    }
}